$fuente-raleway: "Raleway", sans-serif;

.containercaja{
    width: 100%;
    border:none;
    outline: none;
    position: relative;

    &::after{
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: #2a4174;
        position: absolute;
        left: 50%;
        bottom: 0;
        transition: all .3s ease-in-out;
    }

    &:focus-within::after{
        width: 90%;
        left: 0;
    }

    .caja{
        width: 100%;
        font-family: $fuente-raleway;
        font-size: 12px;
        text-align: center;
        border: none;
        outline: none;
        padding-bottom: 4px;
    }   
}

.nombre-td{
    width: 200px;
}

.container-modulox{
    margin: 4em 0 !important;
}