<div class="container">
    <app-breadcrumbs></app-breadcrumbs>
  
    <div class="container-user">
      <section class="search">
        <div class="container-caja">
          <i class="fas fa-search icon"></i>
          <input
            #input
            type="text"
            class="caja"
            (keyup)="buscarUsuario(input.value)"
            placeholder="Buscar usuarios"
          />
        </div>
      </section>
  
      <app-loading *ngIf="loading"></app-loading>
  
      <section class="container-table animated fadeIn">
        <div class="card">
          <div class="opciones-demo">
            <p class="registrados">
              Usuarios ( <span>{{ total }}</span> )
            </p>
            <div class="paginacion">
              <div class="regestro">
              </div>
              <i
                class="fas fa-chevron-circle-left icon icon-pag"
                (click)="cambiardesde(-6)"
              ></i>
              <i
                class="fas fa-chevron-circle-right icon icon-pag"
                (click)="cambiardesde(6)"
              ></i>
            </div>
          </div>
          <div style="overflow-x: auto;" class="scrolltable">
            <table class="table">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody class="animated fadeIn">
                <tr *ngFor="let usuario of usuarios">
                  
                  <td style="text-align: center;" >
                    <img
                      class="img"
                      [src]="usuario.img | imagen"
                      alt=""
                    />
                  </td>
  
  
                 <td>{{usuario.nombre | capitalizar}}</td>
                 <td>{{usuario.apellido | capitalizar}}</td>
                 <td>{{usuario.email }}</td>
  
                 <td >
                    <span class="containercaja">
                      <input type="password" class="caja"  name="password"
                        [(ngModel)]="usuario.password">
                    </span>
                  </td>
                
                  <td style="text-align: center;">
                    <i
                      class="fas fa-key icon icon-edit"
                      (click)="actualizarpass(usuario)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
  

  