
$fuente-lato: "Lato", sans-serif;
$fuente-raleway: "Raleway", sans-serif;
$fuente-nunito: "Nunito", sans-serif;

.containercaja{

    display: block;
    border: none;
    border-bottom: solid #838383 1px;

    .caja{
        width: 100%;
        font-size: 12px;
        font-family: $fuente-raleway;
        border: none;
        outline: none;
    }
}

td{
    max-width: 100px !important;
    text-align: center;
    
}