<div class="container fadeIn">
    <section class="container-flex">
        <article class="container-mi-vi">
            <h2 class="title">Mision</h2>
            <p class="content">Somos una empresa dedicada a 
                ofrecer una experiencia diferente en entretenimiento 
                dirigida a todo público, basada en servicios de alta 
                calidad, la mejor tecnología en proyección y 
                comprometidos en crear emociones inolvidables 
                en nuestros clientes. 
            </p>
        </article>
    
        <article class="container-img">
            <img src="../../../assets/img/team/team_3/team3.png" alt="" class="img">
        </article>
    </section>

    <section class="container-red">
        <article class="container-redes">
            <div class="redes">
                <a class="enlace" href="">
                    <i class="icon-youtube"></i>
                </a>
                <a class="enlace" href="">
                    <i class="icon-pinterest"></i>
                </a>
                <a class="enlace" href="">
                    <i class="icon-twitter"></i>
                </a>
                <a class="enlace" href="">
                    <i class="icon-facebook"></i>
                </a>
            </div>
        </article>
    </section>

    <section class="container-flex">
        <article class="container-mi-vi cont-izq">
            <h2 class="title">Vision</h2>
            <p class="content">Ser una empresa líder, que aprovecha el 
                potencial de un mercado latente a nivel regional nacional e 
                internacional con productos y servicios de gran calidad, 
                para diversos gustos.

                    Objetivos:
                    1.- Consolidar nuestra empresa para lograr el reconocimiento 
                    en el mercado de complejos cinematográficos a nivel nacional.
                    2.- Apuntar hacia la Excelencia en Servicios.
                    3.- Alcanzar el éxito en mercados locales, regionales, nacionales e internacionales.
            </p>
        </article>
        <article class="container-img img-izq">
            <img src="../../../assets/img/team/team_1/team1.png" alt="" class="img">
        </article>
    
    </section>
    
    

</div>