<footer class="container">
  <section class="main">
    <article class="direcciones">
      <ul class="lista">
        <li class="item">
          <i class="fa fa-map-marker-alt icon"></i>
          <address class="address">
            <span class="title">Av 17 de Julio 5-21</span>
            <strong class="subtitle">Ibarra-Ecuador</strong>
          </address>
        </li>

        <li class="item">
          <i class="fa fa-phone-alt icon"></i>
          <address class="address">+593 xxxxxxxxx</address>
        </li>

        <li class="item">
          <i class="fa fa-envelope icon"></i>
          <address class="address">
            <strong> support@utn.edu.ec </strong>
          </address>
        </li>
      </ul>
    </article>

    <hr class="hr" />

    <article class="ayuda">
      <ul class="lista">
        <li class="item">
          <i class="fa fa-question icon_ayuda"></i>
          <a href="" class="enlace">Centro Ayuda</a>
        </li>
        <li class="item">
          <i class="fa fa-info-circle icon_ayuda"></i>
          <a href="" class="enlace">Preguntas Frecuentes</a>
        </li>
        <li class="item">
          <i class="fa fa-flag icon_ayuda"></i>
          <a href="" class="enlace">Terminos de Uso</a>
        </li>
        <li class="item">
          <i class="fa fa-users-cog icon_ayuda"></i>
          <a href="" class="enlace">Equipo de desarrollo</a>
        </li>
      </ul>
    </article>

    <hr class="hr" />

    <article class="about">
      <h2 class="title">Ser Bachiller</h2>
      <p class="subtitle">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam quos
        placeat excepturi ipsam ab veritatis officia voluptates ipsum dolor sit
        amet consectetur.
      </p>
      <p class="subtitle">&copy; utnserbachiller.com 2019</p>
      <div class="redes">
        <i class="icon-facebook icon_redes cursor"></i>
        <i class="icon-twitter icon_redes cursor"></i>
        <i class="icon-youtube icon_redes cursor"></i>
        <i class="icon-pinterest icon_redes cursor"></i>
      </div>
    </article>

    <!-- <article class="logos">

            <img class="logo" src="../../../../assets/img/utn/utn.png" alt="" >
            <hr class="hr_vt">
            <img  class="logo" src="../../../../assets/img/utn/serbachiller.png" alt="">
            <hr class="hr_vt">
            <img class="logo_ec" src="../../../../assets/img/logo/logo.png" alt="" >
        </article> -->
  </section>
</footer>
