$fuente-lato: "Lato", sans-serif;
$fuente-raleway: "Raleway", sans-serif;
$fuente-nunito: "Nunito", sans-serif;


.puntuacion{
    display: flex;
    align-items: center;


    .icon-check{
        font-size: 3em;
        color: #2D90DE;
        margin-right: .3em;
    }

    span{
        font-family: $fuente-nunito;
        font-size: 2em;
        margin-left: .3em;
    }
}