$fuente-lato: "Lato", sans-serif;
$fuente-raleway: "Raleway", sans-serif;
$fuente-nunito: "Nunito", sans-serif;



.puntuacion{
    display: flex;
    align-items: center;
    margin: 4em 0;


    .icon-check{
        font-size: 3em;
        color: #2D90DE;
        margin-right: .3em;
    }

    span{
        font-family: $fuente-nunito;
        font-size: 2em;
        margin-left: .3em;
    }
}


.body{
    position: relative;

    .marca{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
            color: #34538b6b;
            font-size: 2.5em;
            font-family: $fuente-lato;
            transform: rotate(-25deg);
            z-index: 50;
        }
    }

    .buttonform{
        z-index: 60;
    }
}
