<div class="container fadeIn">
  <div class="img_inicio">
    <div class="frase">
      <p class="title">Ser Bachiller!</p>
      <p class="sub_title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, error
        harum ea accusamus laudantium dolore similique culpa aperiam dolorem
        amet sequi cupiditate. Culpa voluptatum modi aspernatur deserunt,
        repudiandae ut recusandae.
      </p>

      <button mat-stroked-button class="boton">Ver mas ..</button>
    </div>
    <img
      src="../../../assets/svg/undraw_teaching_f1cm.svg"
      alt=""
      class="img_rompe"
    />
    <img class="svg_landing_1" src="../../../assets/svg/landing_1.svg" alt="" />
  </div>

  <main class="main">
    <!-- seccion para la acreditacion -->

    <section class="acreditacion">
      <img src="../../../assets/svg/analisis.svg" alt="" class="img" />
      <article class="contenido_comp">
        <p class="title">
          Sistemas de Calidad probados en ambientes de calidad
        </p>
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
          voluptas optio saepe enim hic. Ad quo reiciendis possimus fuga
          nesciunt corporis fugiat iste earum harum atque ratione soluta commodi
          quas necessitatibus hic, illo unde saepe aperiam veniam incidunt.
          Nostrum veritatis culpa iure adipisci recusandae quis sint soluta sed
          eaque hic.
        </p>
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
          voluptas optio saepe enim hic. Ad quo reiciendis possimus fuga
          nesciunt corporis fugiat iste earum harum atque ratione soluta commodi
          quas necessitatibus hic, illo unde saepe aperiam veniam incidunt.
          Nostrum veritatis culpa iure adipisci recusandae quis sint soluta sed
          eaque hic.
        </p>
      </article>
    </section>

    <!-- seccion para los servicios  -->

    <section class="servicios">
      <section class="descripcion">
        <p class="title">Servicios Disponibles</p>
        <p class="desc">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
          reprehenderit eos! Ducimus voluptates placeat fugit iusto quis neque
          eos doloremque.
        </p>
      </section>

      <section class="tarjetas_comp">
        <article class="card">
          <i class="far fa-calendar-check card_icon"></i>
          <p class="title">Simuladores</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nam
            dolor minus repellat. Possimus assumenda tenetur minima provident
            quas consequuntur. Incidunt modi nisi aliquid eius dicta cupiditate,
            repellat dolorum vero?
          </p>
        </article>
        <article class="card">
          <i class="fas fa-chalkboard-teacher card_icon"></i>
          <p class="title">Aula virtual</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nam
            dolor minus repellat. Possimus assumenda tenetur minima provident
            quas consequuntur. Incidunt modi nisi aliquid eius dicta cupiditate,
            repellat dolorum vero?
          </p>
        </article>
        <article class="card">
          <i class="fas fa-signature card_icon"></i>
          <p class="title">Certificados</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nam
            dolor minus repellat. Possimus assumenda tenetur minima provident
            quas consequuntur. Incidunt modi nisi aliquid eius dicta cupiditate,
            repellat dolorum vero?
          </p>
        </article>
      </section>
    </section>

    <!-- seccion para la experiencia -->

    <section class="acreditacion experiencia">
      <img src="../../../assets/svg/study.svg" alt="" class="img" />
      <article class="contenido_comp">
        <p class="title">Hacemos que Aprender sea facil</p>
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
          voluptas optio saepe enim hic. Ad quo reiciendis possimus fuga
          nesciunt corporis fugiat iste earum harum atque ratione soluta commodi
          quas necessitatibus hic, illo unde saepe aperiam veniam incidunt.
          Nostrum veritatis culpa iure adipisci recusandae quis sint soluta sed
          eaque hic.
        </p>
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
          voluptas optio saepe enim hic. Ad quo reiciendis possimus fuga
          nesciunt corporis fugiat iste earum harum atque ratione soluta commodi
          quas necessitatibus hic, illo unde saepe aperiam veniam incidunt.
          Nostrum veritatis culpa iure adipisci recusandae quis sint soluta sed
          eaque hic.
        </p>
      </article>
    </section>

    <!-- seccion para la informacion que brinda la UTN -->

    <section class="section informacion">
      <div class="img"></div>
      <article class="contenido">
        <p class="title">Universidad Tecnica del Norte</p>
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
          voluptas optio saepe enim hic. Ad quo reiciendis possimus fuga
          nesciunt corporis fugiat iste earum harum atque ratione soluta commodi
          quas necessitatibus hic, illo unde saepe aperiam veniam incidunt.
          Nostrum veritatis culpa iure adipisci recusandae quis sint soluta sed
          eaque hic.
        </p>
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
          voluptas optio saepe enim hic. Ad quo reiciendis possimus fuga
          nesciunt corporis fugiat iste earum harum atque ratione soluta commodi
          quas necessitatibus hic, illo unde saepe aperiam veniam incidunt.
          Nostrum veritatis culpa iure adipisci recusandae quis sint soluta sed
          eaque hic.
        </p>
      </article>
    </section>

    <!-- seccion para el blog -->

    <section class="servicios blog">
      <section class="descripcion">
        <p class="title">Ultimas Noticias</p>
        <p class="desc">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
          reprehenderit eos! Ducimus voluptates placeat fugit iusto quis neque
          eos doloremque.
        </p>
      </section>

      <section class="tarjetas_comp">
        <article class="card">
          <img
            src="../../../assets/img/recursos/graduados.jpg"
            alt=""
            class="img"
          />
          <p class="title">Noticia 1</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nam
            dolor minus repellat. Possimus assumenda tenetur minima provident
            quas consequuntur.
          </p>
          <button mat-raised-button class="btn">ver mas..</button>
        </article>
        <article class="card">
          <img
            src="../../../assets/img/recursos/graduados_1.jpg"
            alt=""
            class="img"
          />
          <p class="title">Noticia 2</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nam
            dolor minus repellat. Possimus assumenda tenetur minima provident
            quas consequuntur.
          </p>
          <button mat-raised-button class="btn">ver mas..</button>
        </article>
        <article class="card">
          <img
            src="../../../assets/img/recursos/estudio_5.jpg"
            alt=""
            class="img"
          />
          <p class="title">Noticia 3</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nam
            dolor minus repellat. Possimus assumenda tenetur minima provident
            quas consequuntur.
          </p>
          <button mat-raised-button class="btn">ver mas..</button>
        </article>
      </section>
    </section>
  </main>
</div>
