<div class="container">
  <!-- seccion izquierda, logo y barmenu -->

  <section class="left">
    <i class="fas fa-bars icon icon-bar" (click)="sidebarEmit(sub)"></i>

    <div class="logo">
      <span class="main">UTN</span>
      <span class="sub" #sub>Construyendo sueños</span>
    </div>
  </section>

  <!-- seccion derecha opciones -->

  <section class="right">

    <div *ngFor="let item of accesos">
      <a [routerLink]="item.url">
        <i [class]="item.icono"></i>
        <span class="etiqueta">{{item.etiqueta}}</span>
      </a>
    </div>
   

    <div>
      <i class="fas fa-search icon icon-search" (click)="showSearch(search)"></i>
    </div>

    <!-- <a>
      <i class="fas fa-bell icon"></i>
    </a> -->

    <div class="enlace  user">
      <img class="img" [src]="usuario.img | imagen" alt="" />
    </div>
  </section>
</div>

<!-- contenedor de busquedas -->

<div class="container-search " #search>
  <input #input (keyup.enter)="buscar(input.value)" type="text" class="caja" placeholder="Search & enter" />
  <i class="fas fa-times icon icon-times" (click)="hiddenSearch(search)"></i>
</div>