<div class="container">
    <app-breadcrumbs></app-breadcrumbs>
    <app-loading *ngIf="loading"></app-loading>

    <section class="search">
        <div class="container-caja">
          <i class="fas fa-search icon"></i>
          <input
            #input
            type="text"
            class="caja"
            (keyup)="buscarCurso(input.value)"
            placeholder="Buscar Cursos"
          />
        </div>
      </section>
  


    <!-- seccion para los cursos  -->

    <div class="container-user">

        <div class="registro-cur card">
            <p class="title">Registrar nuevo Curso</p>
            <form #form="ngForm" class="formulario" (ngSubmit)="crearCurso(form)">
                <div class="container-formulario">
                    <div class="input">
                        <label for="">Titulo</label>
                        <div class="container-caja">
                            <i class="fas fa-chalkboard-teacher icon icon-title"></i>
                            <input type="text" class="caja" name="nombre" placeholder="Titulo o Nombre del Curso"
                                autocomplete="off" ngModel required />
                        </div>
                    </div>

                    <div class="input input-select">
                        <mat-form-field>
                            <mat-label>Dificultad</mat-label>
                            <mat-select [(value)]="selectedDificultad">
                                <mat-option [value]="item" *ngFor="let item of dificultad"> {{item |capitalizar}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="input input-textarea">
                        <mat-form-field class="textarea">
                            <textarea style="resize: none;" matInput placeholder="Descripcion del curso" rows="7"
                                name="descripcion" ngModel required></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <button type="submit" mat-raised-button class="btn-submit submit-curso">
                    Registrar Curso
                </button>
            </form>
        </div>

        <section class="container-table card animated fadeIn">
            <div>
                <div class="opciones-demo">
                    <p class="registrados">
                        Cursos ( <span>{{totalCursos }}</span> )
                    </p>
                    <div class="paginacion">
                        <div class="regestro">
                            <!-- <i class="fas fa-plus-circle icon iconadd" (click)="addCurso()"></i> -->
                        </div>
                        <i class="fas fa-chevron-circle-left icon icon-pag" (click)="cambiardesde(-7)"></i>
                        <i class="fas fa-chevron-circle-right icon icon-pag" (click)="cambiardesde(7)"></i>
                    </div>
                </div>

                <div class="noencontrado" *ngIf="totalCursos <= 0">
                    no hay registros
                </div>


                <div style="overflow-x: auto;" class="scrolltable" *ngIf="totalCursos">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Titulo</th>
                                <th>Puntuacion</th>
                                <th>Dificultad</th>
                                <th>Modulos</th>
                                <th>Fecha</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="animated fadeIn">
                            <tr *ngFor="let curso of cursos">
                                <td style="text-align: center;">
                                    <img class="img" [src]="curso.img | imagen: 'cursos'" alt=""
                                        (click)="mostrarModal(curso)" />
                                </td>
                                <td>{{ curso.nombre | capitalizar }}</td>
                                <td>{{ curso.puntuacion }}</td>
                                <td>{{ curso.dificultad }}</td>
                                <td>{{ curso.modulos.length }}</td>
                                <td>{{ curso.fecha | date }}</td>

                                <td style="text-align: center;">
                                    <i class="fas fa-pen icon icon-edit" (click)="modal('curso',curso)">
                                    </i>
                                    <i class="fas fas fa-magic icon icon-desc" (click)="objetivosredirect(curso)"></i>
                                    <i class="fas fa-trash icon icon-delete" (click)="eliminarCurso(curso)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>
   
</div>




<!-- modal reistro de cursos  -->



<div class="container-modal" [ngClass]="{ hiddenModal: _serviceModal.showModalAdd }">
    <div class="modal modal-gen" *ngIf="modalDatosDescripcion">
        <section class="card-div">
            <p class="title">Edición</p>
            <p class="subtitle">Ser bachiller</p>
            <i class="fas fa-times icon icon-times" (click)="cerrarModal()"></i>

            <hr />

            <form #form="ngForm" class="formulario" (ngSubmit)="actualizar(form)">
                <div class="container-formulario">

                    <div class="input">
                        <label for="">Nombre</label>
                        <div class="container-caja">
                            <i class="fas fa-chalkboard-teacher icon icon-title"></i>
                            <input type="text" class="caja" name="nombre" placeholder="Titulo o Nombre"
                                autocomplete="off" ngModel="{{modalDatosDescripcion.nombre}}" required />
                        </div>
                    </div>

                    <div class="input input-select">
                        <mat-form-field>
                            <mat-label>Dificultad</mat-label>
                            <mat-select [(value)]="selectedDificultadReg">
                                <mat-option [value]="item" *ngFor="let item of dificultad"> {{item |capitalizar}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="input input-textarea">
                        <mat-form-field class="textarea">
                            <textarea matInput placeholder="Descripcion" rows="7" name="descripcion"
                                [(ngModel)]="modalDatosDescripcion.descripcion" required></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="botones">
                    <button type="submit" mat-raised-button class="btn-submitx">
                        Actualizar Descripcion
                    </button>

                    <button type="button" mat-raised-button class="btn-submitx btn-cancelx" (click)="cerrarModal()">
                        Cancelar
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>