/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,800|Raleway&display=swap");

$fuente-lato: "Lato", sans-serif;
$fuente-raleway: "Raleway", sans-serif;
$fuente-nunito: "Nunito", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
}

.cursor {
  cursor: pointer;
}

.fadeIn_demo {
  animation: fadein 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.mat-form-field-infix {
  width: 110px !important;
  color: #7c7c7c !important;
  span {
    font-family: $fuente-raleway !important;
    font-size: 12px;
    color: #7c7c7c !important;
  }
  // border: solid red 1px !important;
}

// .mat-form-field-wrapper {
//   color: red !important;
// }

/*estilos para full calendar*/

@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/list/main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor {
  cursor: pointer;
}
.fadeIn {
  opacity: 0;
  animation: fade_in 1s ease-out forwards;
  @keyframes fade_in {
    to {
      opacity: 1;
    }
  }
}

.fadeOut {
  opacity: 0;
  animation: fade_out 1s ease-out forwards;
  @keyframes fade_out {
    to {
      opacity: 1;
    }
  }
}

.enlace{
  text-decoration: none;
  color: #000;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  // box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

.calendario {
  .fc-widget-header {
    border: none;
  }

  .fc-view {
    margin-top: 4em;
  }

  table {
    th {
      padding: 2em 1em;
      font-family: $fuente-lato;
      font-weight: unset;
      font-weight: 100;
      color: #c6c6c6;
      border: none;
      text-align: right;
    }
    td {
      height: 20px;
    }
  }
}

.calendario-eventos {
  color: #000;
  // color: #e9e8e8;
  padding: 0.5em;
  margin: 0.5em 1em;
  cursor: pointer;
}

.fc-header-toolbar {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.calendar {
  padding: 3em;
  width: 90%;
}

.fc-left,
.fc-center,
.fc-right {
  font-family: $fuente-nunito;
  font-weight: unset;
}

.fc-day-number {
  font-family: $fuente-raleway;
  margin: 0.5em 1em;
}

@media screen and (max-width: 1000px) {
  .fc-view-container {
    padding: 0 1em;
  }

  .calendar {
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .calendario-eventos {
    color: green;
    padding: 0;
    margin: 0.3em 0;
  }
}

.fc-leyenda-button {
  position: relative;
}

@media screen and (max-width: 900px) {
  .fc-day-number {
    margin: unset;
  }

  .fc-header-toolbar {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .fc-left,
  .fc-center,
  .fc-right {
    margin: 1em 0;
  }

  .fc-center {
    order: 0;
  }
  .fc-right {
    order: 1;
  }
  .fc-left {
    order: 2;
  }

  .fc-view-container {
    .fc-day-grid {
      table {
        tr,
        td,
        th {
          border: none !important;
        }
      }
    }
  }

  .fc-widget-content {
    border: none !important;
  }

  .fc-day-grid-event {
    border: solid red 1px;
  }
}
